body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

#calculator {
  position: relative;
  max-width: 230px;
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
  background: #fff;
}

#display {
  color: red;
  background-color: rgb(208, 211, 210);
  height: 30px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(4 * 51px);
  padding: 10px;
  margin-bottom: 10px;
  border: #000 1px solid;
}

#calculator button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin: 2px;
}